<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <properties resource="config/connection-info.properties"/>
    <typeAliases>
        <typeAlias alias="CustomerDTO" type="com.SYVegas.customerMyInfo.CustomerDTO"/>
    </typeAliases>

    <environments default="dev">
        <environment id="dev">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="com/SYVegas/check_customerInfoAndLog/check_customerInfo/ManagerMenuCustomerSqlMapper.xml"/>
        <mapper resource="com/SYVegas/check_customerInfoAndLog/check_Log/ManagerMenuLogSqlMapper.xml"/>
        <mapper resource="com/SYVegas/common/DepositAndPurchase/SYUVegasMapper.xml"/>
        <mapper resource="com/SYVegas/customerMyInfo/CustomerMyInfoMapper.xml"/>
        <mapper resource="com/SYVegas/member/CustomerMapper.xml"/>
        <mapper resource="com/SYVegas/playgame/GameMapper.xml"/>
        <mapper resource="com/SYVegas/chip/ChipSqlMapper.xml"/>
    </mappers>

</configuration>