<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.SYVegas.check_customerInfoAndLog.check_Log.ManagerMenuLogSqlMapper">

    <resultMap id="managerMenuLogResultMap" type="com.SYVegas.check_customerInfoAndLog.check_Log.Log">
        <id property="code" column="log_code"/>
        <result property="customer_id" column="log_customer_id"/>
        <result property="date" column="=log_date"/>
        <result property="activity" column="log_activiy"/>
        <result property="money" column="log_money"/>
        <result property="kind_money" column="log_kind_money"/>
    </resultMap>

    <select id="selectAllMangerMenuLog" resultMap="managerMenuLogResultMap">
        select *
        from log
    </select>

    <select id="searchCustomerMangerMenuLog" parameterType="hashmap" resultMap="managerMenuLogResultMap">
        select *
        from log
        where log_customer_id = #{Cname}
    </select>

    <select id="sumAllMangerMenuLog" resultType="java.lang.Integer" >
        SELECT SUM(log_money) AS sum_result
        from log
    </select>
</mapper>