<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.SYVegas.chip.ChipSqlMapper">

    <update id="updateChipDTO" parameterType="map">
        update log
        <set>
            log_date = curdate(),
            <if test="attribute == 1">
                log_money = #{exchangeMoney},
                log_kind_money = '지갑',
                log_activiy = '칩교환'
            </if>
            <if test="attribute == 2">
                log_money = #{returnMoney},
                log_kind_money = '지갑',
                log_activiy = '칩반환'
            </if>
        </set>
        where log_customer_id = #{log_customer_id}
    </update>

</mapper>
