<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.SYVegas.chip.ChipSqlMapper">

    <resultMap id="walletResultMap" type="com.SYVegas.chip.WalletDTO">
        <id property="userId" column="user_id"/>
        <result property="amount" column="amount"/>
    </resultMap>

    <select id="getBalance" resultType="int">
        select customer_balance
        from customer
        where customer_id =#{id}
    </select>

    <!-- 칩 교환 -->
    <update id="exchangeChips" parameterType="hashMap">
        UPDATE customer
        SET customer_balance = #{exchangeAmount}
        WHERE customer_id = #{id}
    </update>

    <!-- 칩 반환 -->
    <update id="returnChips" parameterType="hashMap">
        UPDATE customer
        SET customer_balance =#{exchangeAmount}
        WHERE customer_id = #{id}
    </update>

    <insert id="insertChipExchangeLog" parameterType="map">
        INSERT INTO log (log_date, log_money, log_kind_money, log_activiy, log_customer_id)
        VALUES ( curdate(), #{logMoney}, '칩', '칩 교환', #{logCustomerId})
    </insert>

    <insert id="insertChipReturnLog" parameterType="map">
        INSERT INTO log (log_date, log_money, log_kind_money, log_activiy, log_customer_id)
        VALUES ( curdate(), #{logMoney}, '칩', '칩 반환', #{logCustomerId})
    </insert>

</mapper>