<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.SYVegas.chip.ChipSqlMapper">

    <resultMap id="logResultMap" type="Log">
        <id property="log_code" column="log_code"/>
        <result property="log_date" column="log_date"/>
        <result property="log_money" column="log_money"/>
        <result property="log_kind_money" column="log_kind_money"/>
        <result property="log_activity" column="log_activiy"/>
        <result property="log_customer_id" column="log_customer_id"/>
    </resultMap>

    <select id="selectAllLogs" resultMap="logResultMap">
        SELECT * FROM log;
    </select>


    <update id="updateChipTransaction" parameterType="hashMap">
        UPDATE log
           SET log_date = #{log_date},
               log_money = #{log_money},
               log_kind_money = #{log_kind_money},
               log_activiy = #{log_activiy},
               log_customer_id = #{log_customer_id}
         WHERE log_code = #{log_code};
    </update>

</mapper>
