<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.SYVegas.customerMyInfo.CustomerMyInfoMapper">
    <resultMap id="CustomerResultMap" type="com.SYVegas.customerMyInfo.CustomerDTO">
        <result property="id" column="customer_id"/>
        <result property="name" column="customer_name"/>
        <result property="password" column="customer_password"/>
        <result property="phone" column="customer_phone"/>
        <result property="balance" column="customer_balance"/>
        <result property="credit" column="customer_credit"/>
        <result property="rank" column="customer_rank"/>
    </resultMap>

    <select id="selectCustomerById" parameterType="String" resultMap="CustomerResultMap">
        SELECT customer_id, customer_name, customer_password, customer_phone,
         customer_balance, customer_credit, customer_rank
        FROM Customer
        WHERE customer_id = #{id}
    </select>

</mapper>
